<a 
 href="https://colab.research.google.com/github/LearnPythonWithRune/MachineLearningWithPython/blob/main/colab/final/03 - Project - Classify House Prices.ipynb"
 target="_parent">
<img 
 src="https://colab.research.google.com/assets/colab-badge.svg"
alt="Open In Colab"/>
</a>

# Project: Classify House Prices
- Put houses in price groups and try to predict based on Latitude and Longitude
- That will show if the area is a good indicator of the house unit price

### Step 1: Import libraries

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import r2_score, accuracy_score

### Step 2: Read the data
- Use Pandas [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) method to read **files/house_prices.csv**

In [ ]:
data = pd.read_csv('https://raw.githubusercontent.com/LearnPythonWithRune/MachineLearningWithPython/main/jupyter/final/files/house_prices.csv')
data.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1

data.corr() means how much co-related to each other

In [ ]:
data.corr()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price
Transaction,1.000000,0.017549,0.060880,0.009635,0.035058,-0.041082,0.087491
House age,0.017549,1.000000,0.025622,0.049593,0.054420,-0.048520,-0.210567
Distance to MRT station,0.060880,0.025622,1.000000,-0.602519,-0.591067,-0.806317,-0.673613
Number of convenience stores,0.009635,0.049593,-0.602519,1.000000,0.444143,0.449099,0.571005
Latitude,0.035058,0.054420,-0.591067,0.444143,1.000000,0.412924,0.546307
Longitude,-0.041082,-0.048520,-0.806317,0.449099,0.412924,1.000000,0.523287
House unit price,0.087491,-0.210567,-0.673613,0.571005,0.546307,0.523287,1.000000

### Step 3: Prepare data
- Create 15 bins of house prices
    - HINT: use [cut](https://pandas.pydata.org/docs/reference/api/pandas.cut.html) on the **'House unit price'** column with **bins=15** and assign the result to column **Class**.
    - Get the category codes by transforming column **Class** with **.cat.codes** and assign it to **Class id**

In [ ]:
data['Class'] = pd.cut(data['House unit price'], bins=15)
data['Class id'] = data['Class'].cat.codes

In [ ]:
data.head()

,Transaction,House age,Distance to MRT station,Number of convenience stores,Latitude,Longitude,House unit price,Class,Class id
0,2012.917,32.0,84.87882,10,24.98298,121.54024,37.9,"(36.907, 44.233]",4
1,2012.917,19.5,306.59470,9,24.98034,121.53951,42.2,"(36.907, 44.233]",4
2,2013.583,13.3,561.98450,5,24.98746,121.54391,47.3,"(44.233, 51.56]",5
3,2013.500,13.3,561.98450,5,24.98746,121.54391,54.8,"(51.56, 58.887]",6
4,2012.833,5.0,390.56840,5,24.97937,121.54245,43.1,"(36.907, 44.233]",4

### Step 4: Prepare training and test data
- Assign **X** be all the data (it is needed in final step)
- Assign **y** to be the **Class id** column.
- Use **train_test_split** with **test_size=0.15**

In [ ]:
X = data
y = data['Class id']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=.15, random_state= 42)

### Step 5: Train a $k$-Neighbours Classifier
- Create a model to **KNeighborsClassifier()**
- Fit the model on **X_train[['Latitude', 'Longitude']]** and **y_train**
- Predict **X_test[['Latitude', 'Longitude']]** and assign it to **y_pred**
- Calculate the accuracy score

In [ ]:
model = KNeighborsClassifier()
model.fit(X_train[['Latitude', 'Longitude']], y_train)
y_pred = model.predict(X_test[['Latitude', 'Longitude']])
accuracy_score(y_test, y_pred)

0.4444444444444444

### Step 6: Make prediction of categories
- Convert **y_pred** to a DataFrame
    - HINT: **df_pred = pd.DataFrame(y_pred, columns=['Pred cat'])**
- Get the middle value of the prediction category.
    - HINT: **df_pred['Pred'] = df_pred['Pred cat'].apply(lambda x: X_test['Class'].cat.categories[x].mid)**
- Calculate the **r2_score** of the predicted and real price **'House unit price'** of **X_test**

In [ ]:
df_pred = pd.DataFrame(y_pred, columns=['Pred cat'])
df_pred['Pred'] = df_pred['Pred cat'].apply(lambda x: X_test['Class'].cat.categories[x].mid)

In [ ]:
r2_score(X_test['House unit price'], df_pred['Pred'])

0.7016506576401823

# I need to practice linear regression more